/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
}

.calculator-container {
    background-color: #fff;
    box-shadow: 0 10px 20px rgb(123, 120, 120);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    }


    input:hover{
        background: #f3efef;
    }

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 300;
}

button:hover {
    background-color: #52c558;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}


input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }




  #table {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  thead tr {
    background-color: #e0e0e0;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  